<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAtribuiCama1" />
                <binding name="BasicHttpBinding_IAtribuiCama" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51601/Services/AtribuiCama.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAtribuiCama1"
                contract="CamasService.IAtribuiCama" name="BasicHttpBinding_IAtribuiCama1" />
            <endpoint address="http://localhost:51601/Services/AtribuiCama.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAtribuiCama"
                contract="ServiceReference1.IAtribuiCama" name="BasicHttpBinding_IAtribuiCama" />
        </client>
    </system.serviceModel>
</configuration>